@page "/"
@using System.ComponentModel.DataAnnotations
@using souschef_fe.Services
@rendermode InteractiveServer

@inject IUserSvc UserService
@inject ILogger<ClientUserService> Logger

@using souschef_core.Model
@using souschef_core.Services
@* @using souschef_fe.Services *@

<PageTitle>Home</PageTitle>

<h1 style="text-align: center;">Login or Create New Account!</h1>

@if (showUser)
{
    <h3 style="text-align: center;">Welcome, @_user.DisplayName</h3>
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Log In</h5>
        </div>
        <div class="card-body">
            <EditForm Model="@NewUser" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="mb-3">
                    <label for="inputField" class="form-label">Input Field</label>
                    <InputText id="inputField" class="form-control" @bind-Value="@NewUser.Username"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
</div>


@code {
    
    [Parameter]
    public User NewUser { get; set; } = new();
    
    
    // private FormModel formModel = new FormModel();
    

    private bool showUser = false;

    private User _user = new User();

    private async Task HandleValidSubmit()
    {
        showUser = true;
        
        // Console.WriteLine("IS THIS NULL? " + NewUser.Username);

        if (!string.IsNullOrWhiteSpace(NewUser.Username))
        {
            _user = await UserService.GetUserAsync(NewUser.Username);
            Console.WriteLine("IS THIS NULL?" + _user.DisplayName);
            // _user = await UserService.GetUserAsync("testy");

            // await MessageService.SendMessageAsync(NewMsg);
            // _messages = await MessageService.GetAllMessagesAsync();
        }
        else
        {
            Logger.LogInformation("Client attempted to submit empty message");
        }
        
    }

    

}

