@page "/"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer
@using souschef_fe.Services
@* @inject ICrudSvc<User> UserService *@
@* @inject ILogger<ClientUserService> Logger *@

@using souschef_core.Model
@using souschef_core.Services


<PageTitle>Home</PageTitle>

<h1 style="text-align: center">Welcome to Sous Chef</h1>



@code {

   

}