@page "/Login"
@using souschef_core.Model.DTO
@using souschef_fe.Services
@inject HttpService apiClient;
<h3>Login</h3>
<EditForm Model="Req" OnValidSubmit="Submit">
    <DataAnnotationsValidator>
        <InputText id="username" class="form-control" bind-Value="@Req.Username"></InputText>
        <InputText id="password" class="form-control" bind-Value="@Req.Password"></InputText>
    </DataAnnotationsValidator>

</EditForm>
@code {
    [SupplyParameterFromForm]
    public required AuthRequest Req { get; set; }

    private void Submit()
    {
        apiClient.Post<AuthRequest, AuthResponse>("localhost:5293/login", Req!);
    }

}