@page "/messages"
@rendermode InteractiveServer
@using souschef_fe.Services
@inject IMessageSvc MessageService
@inject ILogger<ClientMessageService> Logger

@using souschef_core.Model
@using souschef_core.Services

<h2>Messages</h2>

<div>
    <h3>Send a Message</h3>
    <EditForm Model="@NewMsg" OnValidSubmit="@HandleSubmit" FormName="SendMessage">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="content">Content</label>
            <InputText id="content" class="form-control" @bind-Value="@NewMsg.MsgText" />
        </div>
        <ValidationSummary />
        <button type="submit" class="btn btn-primary">Send</button>
    </EditForm>
</div>

<div>
    <h3>All Messages</h3>
    <ul>
        @if (_messages is not null && _messages.Any())
        {
            foreach (var message in _messages)
            {
                <li>@message.MsgText</li>
            }
        }
        else
        {
            <li>No messages found.</li>
        }
    </ul>
</div>

@code {
    private List<Message>? _messages;
    [Parameter]
    public Message NewMsg { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _messages = await MessageService.GetAllMessagesAsync();
    }

    private async Task HandleSubmit()
    {
        if (!string.IsNullOrWhiteSpace(NewMsg.MsgText))
        {
            await MessageService.AddMessageAsync(NewMsg);
            _messages = await MessageService.GetAllMessagesAsync();
            NewMsg = new Message(); // Reset the form
        }
        else
        {
            Logger.LogInformation("Client attempted to submit empty message");
        }
    }
}